td.grass-6 {
    background-image: url(./assets/grass-6.svg) ;
}
td.grass-7 {
    background-image: url(./assets/grass-7.svg) ;
}
td.grass-8 {
    background-image: url(./assets/grass-8.svg) ;
}
td.grass-9 {
    background-image: url(./assets/grass-9.svg) ;
}
td.grass-20 {
    background-image: url(./assets/grass-10.svg) ;
}
td.grass-21 {
    background-image: url(./assets/grass-11.svg) ;
}
td.grass-22 {
    background-image: url(./assets/grass-12.svg) ;
}
td {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
table {
    border-collapse: collapse;
}
